In [137]:
import pandas as pd

In [138]:
#use this 
school_df=pd.read_csv("Resources\schools_complete.csv")
student_df=pd.read_csv("Resources\students_complete.csv")
# # File to Load (Remember to Change These) ignore this 
school_data = "Resources\schools_complete.csv"
student_data = "Resources\students_complete.csv"

# # Read School and Student Data File and store into Pandas DataFrames

# # Combine the data into a single dataset.  
complete = pd.merge(student_df, school_df, how="left", on=["school_name", "school_name"])

In [139]:
#total schools
total_school_number=school_df["school_name"].count()
total_school_number

15

In [140]:
#total students
total_student_number=student_df["Student ID"].count()
total_student_number

39170

In [141]:
#total budget
budget=school_df["budget"].sum()
budget

24649428

In [142]:
avg_math_score_df=student_df["math_score"].mean()
avg_math_score_df

78.98537145774827

In [143]:
avg_reading_score_df=student_df["reading_score"].mean()
avg_reading_score_df

81.87784018381414

In [144]:
#percent passing math


count_variable_math=complete[complete["math_score"] >= 70].count()["math_score"]



#count_variable = school_data_complete.loc[['Math Score'] >= 70] 

percent_variable_math =count_variable_math/total_student_number*100
percent_variable_math

74.9808526933878

In [145]:
count_variable_reading=complete[complete["reading_score"] >= 70].count()["student_name"]
percent_variable_reading =count_variable_reading/total_student_number*100
percent_variable_reading

85.80546336482001

In [146]:

count_variable_both=complete[(complete["reading_score"] >= 70) & (complete["math_score"] >= 70)].count()["student_name"]

percent_variable_both =count_variable_both/total_student_number*100
percent_variable_both

65.17232575950983

In [147]:
################SCHOOL SUMMARY: School Name and Type ###################################
########################################################################################
#=school_df
school_index = school_df.set_index(["school_name"])
school_index

                       School ID      type  size   budget
school_name
Huang High School              0  District  2917  1910635
Figueroa High School           1  District  2949  1884411
Shelton High School            2   Charter  1761  1056600
Hernandez High School          3  District  4635  3022020
Griffin High School            4   Charter  1468   917500
Wilson High School             5   Charter  2283  1319574
Cabrera High School            6   Charter  1858  1081356
Bailey High School             7  District  4976  3124928
Holden High School             8   Charter   427   248087
Pena High School               9   Charter   962   585858
Wright High School            10   Charter  1800  1049400
Rodriguez High School         11  District  3999  2547363
Johnson High School           12  District  4761  3094650
Ford High School              13  District  2739  1763916
Thomas High School            14   Charter  1635  1043130

In [148]:
type_of_school=school_index["type"]
type_of_school

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [149]:
type_size_budget_by_school=school_df.groupby(["school_name"]) #i was using the wrong variable "school_data" instead of school_df
type_size_budget_by_school.head(20)

    School ID            school_name      type  size   budget
0           0      Huang High School  District  2917  1910635
1           1   Figueroa High School  District  2949  1884411
2           2    Shelton High School   Charter  1761  1056600
3           3  Hernandez High School  District  4635  3022020
4           4    Griffin High School   Charter  1468   917500
5           5     Wilson High School   Charter  2283  1319574
6           6    Cabrera High School   Charter  1858  1081356
7           7     Bailey High School  District  4976  3124928
8           8     Holden High School   Charter   427   248087
9           9       Pena High School   Charter   962   585858
10         10     Wright High School   Charter  1800  1049400
11         11  Rodriguez High School  District  3999  2547363
12         12    Johnson High School  District  4761  3094650
13         13       Ford High School  District  2739  1763916
14         14     Thomas High School   Charter  1635  1043130

In [150]:
total_student_number_by_school=school_index["size"]
total_student_number_by_school

school_name
Huang High School        2917
Figueroa High School     2949
Shelton High School      1761
Hernandez High School    4635
Griffin High School      1468
Wilson High School       2283
Cabrera High School      1858
Bailey High School       4976
Holden High School        427
Pena High School          962
Wright High School       1800
Rodriguez High School    3999
Johnson High School      4761
Ford High School         2739
Thomas High School       1635
Name: size, dtype: int64

In [151]:
per_school_budget=school_index["budget"]
per_school_budget

school_name
Huang High School        1910635
Figueroa High School     1884411
Shelton High School      1056600
Hernandez High School    3022020
Griffin High School       917500
Wilson High School       1319574
Cabrera High School      1081356
Bailey High School       3124928
Holden High School        248087
Pena High School          585858
Wright High School       1049400
Rodriguez High School    2547363
Johnson High School      3094650
Ford High School         1763916
Thomas High School       1043130
Name: budget, dtype: int64

In [152]:
per_student_budget=per_school_budget/total_student_number_by_school
per_student_budget

school_name
Huang High School        655.0
Figueroa High School     639.0
Shelton High School      600.0
Hernandez High School    652.0
Griffin High School      625.0
Wilson High School       578.0
Cabrera High School      582.0
Bailey High School       628.0
Holden High School       581.0
Pena High School         609.0
Wright High School       583.0
Rodriguez High School    637.0
Johnson High School      650.0
Ford High School         644.0
Thomas High School       638.0
dtype: float64

In [153]:
avg_math_score_by_school=complete.groupby(["school_name"])["math_score"].mean() #first column in the .groupby is what I was sorting by. like saying "for all the schools, show me their math score averaged."
avg_math_score_by_school

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [154]:
avg_reading_score_by_school=complete.groupby(["school_name"])["reading_score"].mean()
avg_reading_score_by_school

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [155]:
#percent_passing_math_by_school=complete.groupby(percent_variable_math)["math_score"]

# count_variable_math=complete[complete["math_score"] >= 70].count()["student_name"] #total number kids who passed

# percent_passing_math =count_variable_math/total_student_number_by_school #.groupby(["school_name"])["math_score"] 
# percent_passing_math
school_passing_math=complete.loc[complete["math_score"]>=70]

per_school_passing_math = school_passing_math.groupby(["school_name"]).count()["student_name"] / total_student_number_by_school * 100 #this is what anthony gave
per_school_passing_math

school_name
Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
dtype: float64

In [156]:
# count_variable_reading=complete[complete["reading_score"] >= 70].count()["student_name"] #again there is something wrong here.count variable?
# percent_passing_reading =count_variable_reading/total_student_number_by_school
# percent_passing_reading

school_passing_reading=complete.loc[complete["reading_score"]>=70]


per_school_passing_reading = school_passing_reading.groupby(["school_name"]).count()["student_name"] / total_student_number_by_school * 100 #this is what anthony gave
per_school_passing_reading

school_name
Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
dtype: float64

In [157]:
overall_count_passing_by_school=complete[(complete["math_score"] >= 70) & (complete["reading_score"] >= 70)]

overall_percent_passing_by_school=overall_count_passing_by_school.groupby(["school_name"]).count()["student_name"]/complete["school_name"].value_counts()*100
overall_percent_passing_by_school

Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
dtype: float64

In [158]:
complete_index= complete.set_index(["school_name"])
complete_index

,Student ID,student_name,gender,grade,reading_score,math_score,School ID,type,size,budget
school_name,,,,,,,,,,
Huang High School,0,Paul Bradley,M,9th,66,79,0,District,2917,1910635
Huang High School,1,Victor Smith,M,12th,94,61,0,District,2917,1910635
Huang High School,2,Kevin Rodriguez,M,12th,90,60,0,District,2917,1910635
Huang High School,3,Dr. Richard Scott,M,12th,67,58,0,District,2917,1910635
Huang High School,4,Bonnie Ray,F,9th,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...
Thomas High School,39165,Donna Howard,F,12th,99,90,14,Charter,1635,1043130
Thomas High School,39166,Dawn Bell,F,10th,95,70,14,Charter,1635,1043130
Thomas High School,39167,Rebecca Tanner,F,9th,73,84,14,Charter,1635,1043130
Thomas High School,39168,Desiree Kidd,F,10th,99,90,14,Charter,1635,1043130
Thomas High School,39169,Carolyn Jackson,F,11th,95,75,14,Charter,1635,1043130

In [159]:
groupby_schools=complete_index.groupby(["school_name"])
groupby_schools.head()

,Student ID,student_name,gender,grade,reading_score,math_score,School ID,type,size,budget
school_name,,,,,,,,,,
Huang High School,0,Paul Bradley,M,9th,66,79,0,District,2917,1910635
Huang High School,1,Victor Smith,M,12th,94,61,0,District,2917,1910635
Huang High School,2,Kevin Rodriguez,M,12th,90,60,0,District,2917,1910635
Huang High School,3,Dr. Richard Scott,M,12th,67,58,0,District,2917,1910635
Huang High School,4,Bonnie Ray,F,9th,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...
Thomas High School,37535,Norma Mata,F,10th,76,76,14,Charter,1635,1043130
Thomas High School,37536,Cody Miller,M,11th,84,82,14,Charter,1635,1043130
Thomas High School,37537,Erik Snyder,M,9th,80,90,14,Charter,1635,1043130
Thomas High School,37538,Tanya Martinez,F,9th,71,69,14,Charter,1635,1043130
Thomas High School,37539,Noah Erickson,M,9th,86,76,14,Charter,1635,1043130

In [160]:
#used to be fugly as shit
school_summary_df=pd.DataFrame({"total_students": total_student_number_by_school, 
                                "per_student_budget": per_student_budget,
                                "total_budget": per_school_budget,
                                "average_math": avg_math_score_by_school,
                                "average_reading": avg_reading_score_by_school,
                                "percent_passing_math_by_school": per_school_passing_math,
                                "percent_passing_reading_by_school": per_school_passing_reading,
                                "percent_passing_both_by_school": overall_percent_passing_by_school,
                                "type_of_school":type_of_school
                                })
school_summary_df

,total_students,per_student_budget,total_budget,average_math,average_reading,percent_passing_math_by_school,percent_passing_reading_by_school,percent_passing_both_by_school,type_of_school
Bailey High School,4976,628.0,3124928,77.048432,81.033963,66.680064,81.933280,54.642283,District
Cabrera High School,1858,582.0,1081356,83.061895,83.975780,94.133477,97.039828,91.334769,Charter
Figueroa High School,2949,639.0,1884411,76.711767,81.158020,65.988471,80.739234,53.204476,District
Ford High School,2739,644.0,1763916,77.102592,80.746258,68.309602,79.299014,54.289887,District
Griffin High School,1468,625.0,917500,83.351499,83.816757,93.392371,97.138965,90.599455,Charter
Hernandez High School,4635,652.0,3022020,77.289752,80.934412,66.752967,80.862999,53.527508,District
Holden High School,427,581.0,248087,83.803279,83.814988,92.505855,96.252927,89.227166,Charter
Huang High School,2917,655.0,1910635,76.629414,81.182722,65.683922,81.316421,53.513884,District
Johnson High School,4761,650.0,3094650,77.072464,80.966394,66.057551,81.222432,53.539172,District
Pena High School,962,609.0,585858,83.839917,84.044699,94.594595,95.945946,90.540541,Charter
Rodriguez High School,3999,637.0,2547363,76.842711,80.744686,66.366592,80.220055,52.988247,District
Shelton High School,1761,600.0,1056600,83.359455,83.725724,93.867121,95.854628,89.892107,Charter
Thomas High School,1635,638.0,1043130,83.418349,83.848930,93.272171,97.308869,90.948012,Charter
Wilson High School,2283,578.0,1319574,83.274201,83.989488,93.867718,96.539641,90.582567,Charter
Wright High School,1800,583.0,1049400,83.682222,83.955000,93.333333,96.611111,90.333333,Charter

In [161]:
#HIGHEST PERFORMING SCHOOL BY OVERALL % PASSING
#school name 

highest_school_total_students=school_summary_df.sort_values(["percent_passing_both_by_school"], ascending=False)
highest_school_total_students.head()

,total_students,per_student_budget,total_budget,average_math,average_reading,percent_passing_math_by_school,percent_passing_reading_by_school,percent_passing_both_by_school,type_of_school
Cabrera High School,1858,582.0,1081356,83.061895,83.975780,94.133477,97.039828,91.334769,Charter
Thomas High School,1635,638.0,1043130,83.418349,83.848930,93.272171,97.308869,90.948012,Charter
Griffin High School,1468,625.0,917500,83.351499,83.816757,93.392371,97.138965,90.599455,Charter
Wilson High School,2283,578.0,1319574,83.274201,83.989488,93.867718,96.539641,90.582567,Charter
Pena High School,962,609.0,585858,83.839917,84.044699,94.594595,95.945946,90.540541,Charter

In [162]:
math_grade_9=complete[complete["grade"]=="9th"]
math_grade_9_count=math_grade_9.groupby(["school_name"]).mean()["math_score"]
math_grade_9_count

school_name
Bailey High School       77.083676
Cabrera High School      83.094697
Figueroa High School     76.403037
Ford High School         77.361345
Griffin High School      82.044010
Hernandez High School    77.438495
Holden High School       83.787402
Huang High School        77.027251
Johnson High School      77.187857
Pena High School         83.625455
Rodriguez High School    76.859966
Shelton High School      83.420755
Thomas High School       83.590022
Wilson High School       83.085578
Wright High School       83.264706
Name: math_score, dtype: float64

In [163]:
math_grade_10=complete[complete["grade"]=="10th"]
math_grade_10_count=math_grade_10.groupby(["school_name"]).mean()["math_score"]
math_grade_10_count

school_name
Bailey High School       76.996772
Cabrera High School      83.154506
Figueroa High School     76.539974
Ford High School         77.672316
Griffin High School      84.229064
Hernandez High School    77.337408
Holden High School       83.429825
Huang High School        75.908735
Johnson High School      76.691117
Pena High School         83.372000
Rodriguez High School    76.612500
Shelton High School      82.917411
Thomas High School       83.087886
Wilson High School       83.724422
Wright High School       84.010288
Name: math_score, dtype: float64

In [164]:
math_grade_11=complete[complete["grade"]=="11th"]
math_grade_11_count=math_grade_11.groupby(["school_name"]).mean()["math_score"]
math_grade_11_count

school_name
Bailey High School       77.515588
Cabrera High School      82.765560
Figueroa High School     76.884344
Ford High School         76.918058
Griffin High School      83.842105
Hernandez High School    77.136029
Holden High School       85.000000
Huang High School        76.446602
Johnson High School      77.491653
Pena High School         84.328125
Rodriguez High School    76.395626
Shelton High School      83.383495
Thomas High School       83.498795
Wilson High School       83.195326
Wright High School       83.836782
Name: math_score, dtype: float64

In [165]:
math_grade_12=complete[complete["grade"]=="12th"]
math_grade_12_count=math_grade_12.groupby(["school_name"]).mean()["math_score"]
math_grade_12_count

school_name
Bailey High School       76.492218
Cabrera High School      83.277487
Figueroa High School     77.151369
Ford High School         76.179963
Griffin High School      83.356164
Hernandez High School    77.186567
Holden High School       82.855422
Huang High School        77.225641
Johnson High School      76.863248
Pena High School         84.121547
Rodriguez High School    77.690748
Shelton High School      83.778976
Thomas High School       83.497041
Wilson High School       83.035794
Wright High School       83.644986
Name: math_score, dtype: float64

In [166]:
math_df=pd.DataFrame({"9th": math_grade_9_count,
                      "10th": math_grade_10_count,
                      "11th": math_grade_11_count,
                      "12th": math_grade_12_count   
})
math_df

                             9th       10th       11th       12th
school_name
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

In [167]:
reading_grade_9=complete[complete["grade"]=="9th"]
reading_grade_9_count=reading_grade_9.groupby(["school_name"]).mean()["reading_score"]
reading_grade_9_count

school_name
Bailey High School       81.303155
Cabrera High School      83.676136
Figueroa High School     81.198598
Ford High School         80.632653
Griffin High School      83.369193
Hernandez High School    80.866860
Holden High School       83.677165
Huang High School        81.290284
Johnson High School      81.260714
Pena High School         83.807273
Rodriguez High School    80.993127
Shelton High School      84.122642
Thomas High School       83.728850
Wilson High School       83.939778
Wright High School       83.833333
Name: reading_score, dtype: float64

In [168]:
reading_grade_10=complete[complete["grade"]=="10th"]
reading_grade_10_count=reading_grade_10.groupby(["school_name"]).mean()["reading_score"]
reading_grade_10_count

school_name
Bailey High School       80.907183
Cabrera High School      84.253219
Figueroa High School     81.408912
Ford High School         81.262712
Griffin High School      83.706897
Hernandez High School    80.660147
Holden High School       83.324561
Huang High School        81.512386
Johnson High School      80.773431
Pena High School         83.612000
Rodriguez High School    80.629808
Shelton High School      83.441964
Thomas High School       84.254157
Wilson High School       84.021452
Wright High School       83.812757
Name: reading_score, dtype: float64

In [169]:
reading_grade_11=complete[complete["grade"]=="11th"]
reading_grade_11_count=reading_grade_11.groupby(["school_name"]).mean()["reading_score"]
reading_grade_11_count

school_name
Bailey High School       80.945643
Cabrera High School      83.788382
Figueroa High School     80.640339
Ford High School         80.403642
Griffin High School      84.288089
Hernandez High School    81.396140
Holden High School       83.815534
Huang High School        81.417476
Johnson High School      80.616027
Pena High School         84.335938
Rodriguez High School    80.864811
Shelton High School      84.373786
Thomas High School       83.585542
Wilson High School       83.764608
Wright High School       84.156322
Name: reading_score, dtype: float64

In [170]:
reading_grade_12=complete[complete["grade"]=="12th"]
reading_grade_12_count=reading_grade_12.groupby(["school_name"]).mean()["reading_score"]
reading_grade_12_count

school_name
Bailey High School       80.912451
Cabrera High School      84.287958
Figueroa High School     81.384863
Ford High School         80.662338
Griffin High School      84.013699
Hernandez High School    80.857143
Holden High School       84.698795
Huang High School        80.305983
Johnson High School      81.227564
Pena High School         84.591160
Rodriguez High School    80.376426
Shelton High School      82.781671
Thomas High School       83.831361
Wilson High School       84.317673
Wright High School       84.073171
Name: reading_score, dtype: float64

In [171]:
reading_df=pd.DataFrame({"9th": reading_grade_9_count,
                      "10th": reading_grade_10_count,
                      "11th": reading_grade_11_count,
                      "12th": reading_grade_12_count   
})
reading_df

                             9th       10th       11th       12th
school_name
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

In [172]:
#"per_student_budget": per_student_budget,

bins=[0, 585, 629, 644, 681]

group_names = ["<$585","$585-630","$630-645","$645-680"]

In [173]:
school_summary_df["Spending Per Student"] = pd.cut(school_summary_df["per_student_budget"], bins, labels=group_names, include_lowest=True)
school_summary_df["Spending Per Student"]

Bailey High School       $585-630
Cabrera High School         <$585
Figueroa High School     $630-645
Ford High School         $630-645
Griffin High School      $585-630
Hernandez High School    $645-680
Holden High School          <$585
Huang High School        $645-680
Johnson High School      $645-680
Pena High School         $585-630
Rodriguez High School    $630-645
Shelton High School      $585-630
Thomas High School       $630-645
Wilson High School          <$585
Wright High School          <$585
Name: Spending Per Student, dtype: category
Categories (4, object): ['<$585' < '$585-630' < '$630-645' < '$645-680']

In [174]:
school_spending_av_math=school_summary_df.groupby(["Spending Per Student"]).mean()["average_math"].round(2)
school_spending_av_math

Spending Per Student
<$585       83.46
$585-630    81.90
$630-645    78.52
$645-680    77.00
Name: average_math, dtype: float64

In [175]:
school_spending_av_reading=school_summary_df.groupby(["Spending Per Student"]).mean()["average_reading"].round(2)
school_spending_av_reading

Spending Per Student
<$585       83.93
$585-630    83.16
$630-645    81.62
$645-680    81.03
Name: average_reading, dtype: float64

In [176]:
school_spending_perc_math=school_summary_df.groupby(["Spending Per Student"]).mean()["percent_passing_math_by_school"].round(2)
school_spending_perc_math

Spending Per Student
<$585       93.46
$585-630    87.13
$630-645    73.48
$645-680    66.16
Name: percent_passing_math_by_school, dtype: float64

In [177]:
school_spending_perc_reading=school_summary_df.groupby(["Spending Per Student"]).mean()["percent_passing_reading_by_school"].round(2)
school_spending_perc_reading

Spending Per Student
<$585       96.61
$585-630    92.72
$630-645    84.39
$645-680    81.13
Name: percent_passing_reading_by_school, dtype: float64

In [178]:
school_spending_perc_both=school_summary_df.groupby(["Spending Per Student"]).mean()["percent_passing_both_by_school"].round(2)
school_spending_perc_both

Spending Per Student
<$585       90.37
$585-630    81.42
$630-645    62.86
$645-680    53.53
Name: percent_passing_both_by_school, dtype: float64

In [179]:
spending_df=pd.DataFrame({"average_math": school_spending_av_math,
                      "average_reading": school_spending_av_reading,
                      "percent_passing_math_by_school": school_spending_perc_math,
                      "percent_passing_reading_by_school": school_spending_perc_reading,
                      "percent_passing_both_by_school": school_spending_perc_both
})
spending_df

,average_math,average_reading,percent_passing_math_by_school,percent_passing_reading_by_school,percent_passing_both_by_school
Spending Per Student,,,,,
<$585,83.46,83.93,93.46,96.61,90.37
$585-630,81.90,83.16,87.13,92.72,81.42
$630-645,78.52,81.62,73.48,84.39,62.86
$645-680,77.00,81.03,66.16,81.13,53.53

In [180]:
bins=[0, 999, 1999, 5001]

group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [181]:
school_summary_df["School Size"] = pd.cut(school_summary_df["total_students"], bins, labels=group_names, include_lowest=True)
school_summary_df["School Size"]

Bailey High School        Large (2000-5000)
Cabrera High School      Medium (1000-2000)
Figueroa High School      Large (2000-5000)
Ford High School          Large (2000-5000)
Griffin High School      Medium (1000-2000)
Hernandez High School     Large (2000-5000)
Holden High School            Small (<1000)
Huang High School         Large (2000-5000)
Johnson High School       Large (2000-5000)
Pena High School              Small (<1000)
Rodriguez High School     Large (2000-5000)
Shelton High School      Medium (1000-2000)
Thomas High School       Medium (1000-2000)
Wilson High School        Large (2000-5000)
Wright High School       Medium (1000-2000)
Name: School Size, dtype: category
Categories (3, object): ['Small (<1000)' < 'Medium (1000-2000)' < 'Large (2000-5000)']

In [182]:
school_size_av_math=school_summary_df.groupby(["School Size"]).mean()["average_math"].round(2)
school_size_av_math

School Size
Small (<1000)         83.82
Medium (1000-2000)    83.37
Large (2000-5000)     77.75
Name: average_math, dtype: float64

In [183]:
school_size_av_reading=school_summary_df.groupby(["School Size"]).mean()["average_reading"].round(2)
school_size_av_reading

School Size
Small (<1000)         83.93
Medium (1000-2000)    83.86
Large (2000-5000)     81.34
Name: average_reading, dtype: float64

In [184]:
# percent_passing_math_by_school
school_size_percent_math=school_summary_df.groupby(["School Size"]).mean()["percent_passing_math_by_school"].round(2)
school_size_percent_math

School Size
Small (<1000)         93.55
Medium (1000-2000)    93.60
Large (2000-5000)     69.96
Name: percent_passing_math_by_school, dtype: float64

In [185]:
school_size_percent_reading=school_summary_df.groupby(["School Size"]).mean()["percent_passing_reading_by_school"].round(2)
school_size_percent_reading

School Size
Small (<1000)         96.10
Medium (1000-2000)    96.79
Large (2000-5000)     82.77
Name: percent_passing_reading_by_school, dtype: float64

In [186]:
school_size_percent_both=school_summary_df.groupby(["School Size"]).mean()["percent_passing_both_by_school"].round(2)
school_size_percent_both

School Size
Small (<1000)         89.88
Medium (1000-2000)    90.62
Large (2000-5000)     58.29
Name: percent_passing_both_by_school, dtype: float64

In [187]:
size_df=pd.DataFrame({"average_math": school_size_av_math,
                      "average_reading": school_size_av_reading,
                      "percent_passing_math_by_school": school_size_percent_math,
                      "percent_passing_reading_by_school": school_size_percent_reading,
                      "percent_passing_both_by_school": school_size_percent_both
})
size_df

,average_math,average_reading,percent_passing_math_by_school,percent_passing_reading_by_school,percent_passing_both_by_school
School Size,,,,,
Small (<1000),83.82,83.93,93.55,96.10,89.88
Medium (1000-2000),83.37,83.86,93.60,96.79,90.62
Large (2000-5000),77.75,81.34,69.96,82.77,58.29

In [191]:
school_type_av_math = school_summary_df.groupby("type_of_school").mean()["average_math"]
school_type_av_math

type_of_school
Charter     83.473852
District    76.956733
Name: average_math, dtype: float64

In [192]:
school_type_av_reading = school_summary_df.groupby("type_of_school").mean()["average_reading"]
school_type_av_reading

type_of_school
Charter     83.896421
District    80.966636
Name: average_reading, dtype: float64

In [193]:
school_type_percent_math = school_summary_df.groupby("type_of_school").mean()["percent_passing_math_by_school"]
school_type_percent_math

type_of_school
Charter     93.620830
District    66.548453
Name: percent_passing_math_by_school, dtype: float64

In [194]:
school_type_percent_reading = school_summary_df.groupby("type_of_school").mean()["percent_passing_reading_by_school"]
school_type_percent_reading

type_of_school
Charter     96.586489
District    80.799062
Name: percent_passing_reading_by_school, dtype: float64

In [195]:
school_type_percent_both = school_summary_df.groupby("type_of_school").mean()["percent_passing_both_by_school"]
school_type_percent_both

type_of_school
Charter     90.432244
District    53.672208
Name: percent_passing_both_by_school, dtype: float64

In [196]:
type_df=pd.DataFrame({"average_math": school_type_av_math,
                      "average_reading": school_type_av_reading,
                      "percent_passing_math_by_school": school_type_percent_math,
                      "percent_passing_reading_by_school": school_type_percent_reading,
                      "percent_passing_both_by_school": school_type_percent_both
})
type_df

,average_math,average_reading,percent_passing_math_by_school,percent_passing_reading_by_school,percent_passing_both_by_school
type_of_school,,,,,
Charter,83.473852,83.896421,93.620830,96.586489,90.432244
District,76.956733,80.966636,66.548453,80.799062,53.672208